<h2>Ip do zablokowania</h2>

<%= simple_form_for(@blocked_ip, method: :post) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :ip, required: true, autofocus: true %>
      <%= f.input :name, required: true %>
      <%= f.input :descrption, required: true %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "Dodaj" %>
    </div>
<% end %>