<!DOCTYPE html>
<html>
<head>
  <title>Fifa</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script src='https://www.google.com/recaptcha/api.js'></script>
</head>
<body>
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">FUTaccounts</a>
      </div>
      <ul class="nav navbar-nav">
        <li><a href="/accounts/new"> <%= t 'regulations' %></a></li>
        <li><a href="/accounts/new"> <%= t 'form' %></a></li>
        <% if user_signed_in? %>
          <li><%= link_to('Edytuj konto', edit_user_registration_path) %></li>
          <li><%= link_to('Zamówienia', accounts_path ) %></li>
        <% end %>
        <% if current_user.try(:role) == 2 %>
          <li><%= link_to 'Pracownicy', userss_index_path %></li>
          <li><%= link_to 'Dodaj moderatora', new_userss_path %></li>
          <li><%= link_to 'Konfiguracja', edit_configuration_path(AppConfiguration.first) %> </li>
        <% end %>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <% if session[:locale] == 'en' %>
          <li><%= link_to 'ustaw język polski', locale: 'pl' %></li>
        <% else %>
          <li><%= link_to 'set english', locale: 'en' %></li>
        <% end %>
        <li>
        <% if user_signed_in? %>
          <%= link_to('<span class="glyphicon glyphicon-user"></span> Wyloguj'.html_safe, destroy_user_session_path, :method => :delete) %>
        <% else %>
          <%= link_to('<span class="glyphicon glyphicon-log-in"></span> Login'.html_safe, new_user_session_path)  %>
        <% end %>
        </li>
      </ul>
    </div>
  </nav>

<% flash.each do |type, message| %>
  <div class="alert <%= bootstrap_class_for(type) %> fade in">
    <button class="close" data-dismiss="alert">×</button>
    <%= message %>
  </div>
<% end %>

  <div class="container">
    <%= yield %>
  </div>

  <footer> <hr></footer>
</body>
</html>
