<style>
*{
  color:black;
}

.panel{
  border: none;
}

</style>
<div class="panel panel-success">
  <div class="panel-heading"><h1> <%= t 'header' %> </h1></div>
  <div class="panel-body"><p> <%= t 'second_header' %> </p>

<div class="panel panel-primary">
  <div class="panel-heading"><h3> <%= t 'actual' %></h3></div>
  <div class="panel-body">
    <% if session[:locale] == 'pl' %>
      <table class="table">
        <thead>
          <tr>
            <td> <strong> Konsola</strong></td>
            <td> <strong> Stawka (PLN) </strong></td>
            <td> <strong> Stawka (Fifa 17 Coins)</strong></td>
            <td> <strong> Stawka (PSC) </strong></td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td> Xbox One</td>
            <td> <%= @config.x1_pln %> zł </td>
            <td>  <%= @config.x1_coins%> </td>
            <td>  <%= @config.x1_psc %> zł </td>
          </tr>
          <tr>
            <td> Xbox 360 </td>
            <td>  <%= @config.x3_pln%> zł </td>
            <td>  <%= @config.x3_coins %></td>
            <td> <%= @config.x3_psc %> zł </td>
          </tr>
          <tr>
            <td> PlayStation 4</td>
            <td>  <%= @config.ps4_pln%> zł </td>
            <td> <%= @config.ps4_coins %></td>
            <td> <%= @config.ps4_psc%> zł </td>
          </tr>
          <tr>
            <td> PlayStation 3 </td>
            <td> <%= @config.ps3_pln %>zł </td>
            <td> <%= @config.ps3_coins %></td>
            <td> <%= @config.ps3_psc %>zł </td>
          </tr>
        </tbody>
      </table>
    <% else %>
      <table class="table">
        <thead>
          <tr>
            <td> <strong> Console </strong></td>
            <td> <strong> Price (EUR) </strong></td>
            <td> <strong> Price(Fifa 17 Coins)</strong></td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td> Xbox One</td>
            <td> &euro; <%= @config.x1_eur %> </td>
            <td> <%= @config.x1_coins%> </td>
          </tr>
          <tr>
            <td> Xbox 360 </td>
            <td> &euro; <%= @config.x3_eur%> </td>
            <td> <%= @config.x3_coins%> </td>
          </tr>
          <tr>
            <td> PlayStation 4</td>
            <td> &euro; <%= @config.ps4_eur %> </td>
            <td> <%= @config.ps4_coins%></td>
          </tr>
          <tr>
            <td> PlayStation 3 </td>
            <td> &euro; <%= @config.ps3_eur %></td>
            <td> <%= @config.ps3_coins%></td>
          </tr>
        </tbody>
      </table>
    <% end %>
  </div>
</div>
</div>
</div>
<div class="panel panel-success">
  <div class="panel-heading"><h1> <%= t 'form_title' %></h1></div>
  <div class="panel-body"> <p> <%= t 'form_header' %> </p>


<div class="panel panel-warning">
  <div class="panel-heading"><h2> <%= t 'instruction' %></h2></div>
  <div class="panel-body">
    <h5> <%= t 'requirements' %></h5>
    <ul>
      <li> <%= t 'req_first' %> <%=link_to (t 'req_first_here'), "https://www.easports.com/fifa/ultimate-team/web-app", target: "_blank" %> <i><%= t 'req_first_next' %> </i> </li>
      <li> <%= t 'req_second' %> </li>
      <li> <%= t 'req_third' %> </li>
    </ul>
  </div>
</div>

<div class="panel panel-danger">
  <div class="panel-heading"><h2> <%= t 'warning' %> </h1></div>
  <div class="panel-body"><p> <%= t 'final_info' %> </p> </div>
</div>

<%= simple_form_for @account do |f| %>
  <%= f.input :token, label: false, as: :hidden%>
  <div class="panel panel-primary">
    <div class="panel-heading">  <h3><%=  t 'who_are_you'%></h3> </div>
    <div class="panel-body">
      <%= f.input :email, label: false, placeholder: (t 'email') %>
      <%= f.input :facebook_or_skype, label: false, placeholder: (t 'facebook_or_skype') %>
    </div>
  </div>
  <div class="panel panel-primary">
    <div class="panel-heading"><h3><%= t 'which_account' %> </h3></div>
    <div class="panel-body">
      <div class="panel panel-primary">
        <div class="panel-heading"><h4><%= t 'login_data' %></h4></div>
        <div class="panel-body">
          <%= t 'choose_console' %>
          <%= f.input :console_type, label: false , collection: ['Xbox One', 'Xbox 360', 'PlayStation 4','PlayStation 3'], prompt: 'Select Your Console'  %>
          <%= f.input :console_email, label:false, placeholder: 'Console / GamerTag email address' %>
          <%= f.input :console_password, label:false, placeholder: 'Console / GamerTag password' %>
          <%= f.input :console_data, label:'Console / GamerTag birthday',
          :as => :date, :start_year => Date.today.year - 3,:end_year => 1900%>
          <i><%= t 'console_tip' %> </i>
        </div>
      </div>
  <div class="panel panel-primary">
    <div class="panel-heading">  <h4><%= t 'webApp_data' %> </h4> </div>
    <div class="panel-body">
      <%= t 'give_webApp' %>
      <%= f.input :web_email, label: false,placeholder: 'WebApp email adress' %>
      <%= f.input :web_password, label: false ,  placeholder: 'WebApp password' %>
      <%= f.input :web_answer, label: false , placeholder: 'Webapp answer to secret question' %>
    </div>
  </div>

  <div class="panel panel-primary">
    <div class="panel-heading"><h4> <%= t 'origin_security' %> </h4></div>
    <div class="panel-body">
      <%= t 'origin_security_info' %>
      <%= f.input :origin_answer, label: false,  placeholder: 'Origin answer to security question'   %>
      <i> <%= t 'origin_tip'%><%= link_to ( t 'origin_tip_here'), "https://account.origin.com/cp-ui/security/index", target: "_blank"%><%= t 'origin_tip_next'%></i>
    </div>
  </div>
  <div class="panel panel-primary">
    <div class="panel-heading"><h4> <%= t 'email_box' %></h4></div>
    <div class="panel-body">
      <%= t 'email_box_info' %>
      <%= f.input :origin_email, label: false, placeholder: 'Email address' %>
      <%= f.input :origin_password, label: false ,  placeholder: 'Email password to your inbox' %>
    </div>
  </div>
</div>
</div>
  <div class="panel panel-primary">
    <div class="panel-heading"><h3> <%= t 'choose_payment' %></h3></div>
    <div class="panel-body">
      <%= f.input :payment_method, label: false , collection: ["PayPal","Skrill",'PaySafeCard', 'FUT 17 Coins'], prompt: 'Payment method'  %>
      <%= f.input :payment_email, label: false, placeholder: 'Payment email address'  %>
      <div id="players"></div>
    </div>
  </div>
   <div class="g-recaptcha" data-sitekey="6LerqCcTAAAAAPNQJVfRCx-9FeqVPL_31VYqTllc"></div>
  <% if @account.confirmed == true %>
    <%= f.button :submit, class: 'btn btn-warning', value: 'To konto zostało już potwierdzone!' %>
  <% else %>
    <%= f.button :submit, class: 'btn btn-success', value: (t 'send') %>
  <% end %>

  <% end %>
</div>
</div>



<script>
  $(document).ready(function(){

    $('input[type="password"]').each(function(){
      $(this).attr('type', 'text');
    })

    var x = 0;

    function loadX(){
      var val = $('#account_console_type').val();
      switch(val){
        case 'Xbox One':
          x = 5;
          break;
        case 'Xbox 360':
          x = 2;
          break;
        case 'PlayStation 4':
          x = 5;
          break;
        case 'PlayStation 3':
          x = 1;
      }
    }

    function loadPlayers(){
      $('#players').html('');
      if( $('#account_payment_method').val() == 'FUT 17 Coins'){
        $('#players').html('<p><strong> <%= t 'put_out' %> '+x+' <%= t'  brown_footballer_for_4400_and_buy_now_for_10000_below_write_their_surnames_and_overall'%>. </strong></p>');
        for( var i =0; i<x; i++){
          var input = '<input name="players['+ i +']" class="form-control" placeholder="Player">';
          var overall = '<select name="overalls['+ i +']" class="select form-control">';
          for(var j = 40; j<65; j++){
            overall+= '<option value="'+j+'"> '+j+'</option>';
          }
          overall+= '</select>';
          var div = '<div class="row"> <div class="col-md-6">'+input+'</div><div class="col-md-6">'+overall+'</div></div> <hr>';
          $('#players').append(''+div+'');
        }
      }
      else if( $('#account_payment_method').val() == 'PaySafeCard'){
        $('#players').html(' <p><strong> <%= t 'psc_key_will_be_send_on_your_email_adress' %> </strong></p>');
      }

    }

    $('#account_console_type').on('change', function(){
      loadX();
      loadPlayers();
      $('.captcha').html('<div class="g-recaptcha" data-sitekey="6LerqCcTAAAAAPNQJVfRCx-9FeqVPL_31VYqTllc"></div>');
    });

    $('#account_payment_method').on('change', function(){
        loadX();
        loadPlayers();
        $('.captcha').html('<div class="g-recaptcha" data-sitekey="6LerqCcTAAAAAPNQJVfRCx-9FeqVPL_31VYqTllc"></div>');
    });
    $('.captcha').html('<div class="g-recaptcha" data-sitekey="6LerqCcTAAAAAPNQJVfRCx-9FeqVPL_31VYqTllc"></div>');
  });
</script>
