

<style>
*{
  color:black;
}

.panel{
  border: none;
}

</style>

<div class="panel panel-success">
  <div class="panel-heading"><h1> <%= t 'header' %> </h1></div>
  <div class="panel-body"><h4> <%= t 'second_header' %> </h4>

<div class="panel panel-primary">
  <div class="panel-heading"><h3> <%= t 'actual' %></h3></div>
  <div class="panel-body">
    <% if session[:locale] == 'pl' %>

      <table class="table table-striped" >
        <thead>
          <tr>
            <td> <strong> Konsola</strong></td>
            <td> <strong> Stawka (Skrill, PayPal) </strong></td>
            <td> <strong> Stawka (Fifa 17 Coins)</strong></td>
            <td> <strong> Stawka (PSC) </strong></td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td> Xbox One</td>
            <td> <%= @config.x1_pln %> zł </td>
            <td>  <%= @config.x1_coins%> </td>
            <td>  <%= @config.x1_psc %> zł </td>
          </tr>
          <tr>
            <td> Xbox 360 </td>
            <td>  <%= @config.x3_pln%> zł </td>
            <td>  <%= @config.x3_coins %></td>
            <td> <%= @config.x3_psc %> zł </td>
          </tr>
          <tr>
            <td> PlayStation 4</td>
            <td>  <%= @config.ps4_pln%> zł </td>
            <td> <%= @config.ps4_coins %></td>
            <td> <%= @config.ps4_psc%> zł </td>
          </tr>
          <tr>
            <td> PlayStation 3 </td>
            <td> <%= @config.ps3_pln %> zł </td>
            <td> <%= @config.ps3_coins %></td>
            <td> <%= @config.ps3_psc %> zł </td>
          </tr>
        </tbody>
      </table>
    <% else %>
      <table class="table table-striped">
        <thead>
          <tr>
            <td> <strong> Console </strong></td>
            <td> <strong> Price (Skrill, PayPal) </strong></td>
            <td> <strong> Price(Fifa 17 Coins)</strong></td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td> Xbox One</td>
            <td> &euro; <%= @config.x1_eur %> </td>
            <td> <%= @config.x1_coins%> </td>
          </tr>
          <tr>
            <td> Xbox 360 </td>
            <td> &euro; <%= @config.x3_eur%> </td>
            <td> <%= @config.x3_coins%> </td>
          </tr>
          <tr>
            <td> PlayStation 4</td>
            <td> &euro; <%= @config.ps4_eur %> </td>
            <td> <%= @config.ps4_coins%></td>
          </tr>
          <tr>
            <td> PlayStation 3 </td>
            <td> &euro; <%= @config.ps3_eur %></td>
            <td> <%= @config.ps3_coins%></td>
          </tr>
        </tbody>
      </table>
    <% end %>
  </div>
</div>
</div>
</div>
<div class="panel panel-success">
  <div class="panel-heading"><h1> <%= t 'form_title' %></h1></div>
  <div class="panel-body"> <h4> <%= t 'form_header' %>  </h4>  <h4><%= t 'newi' %></h4>


<div class="panel panel-warning">
  <div class="panel-heading"><h2> <%= t 'instruction' %></h2></div>
  <div class="panel-body">
    <h4> <%= t 'requirements' %></h4>
    <ul>
      <li> <%= t 'req_first' %> <%=link_to (t 'req_first_here'), "https://www.easports.com/fifa/ultimate-team/web-app", target: "_blank" %> <i><%= t 'req_first_next' %> </i> </li>
      <li> <%= t 'req_second' %> </li>
      <li> <%= t 'req_third' %> </li>
      <li> <%= t 'req_fourth'%>  <u><%= t 'turned_off'%></u> .</li>
      <li> <%= t 'req_five' %></li>

    </ul>
  </div>
</div>

<div class="panel panel-danger">
  <div class="panel-heading"><h2> <%= t 'warning' %> </h1></div>
  <div class="panel-body"><h4> <%= t 'final_info' %> </h4> </div>
</div>

<%= simple_form_for @account do |f| %>
  <%= f.input :token, label: false, as: :hidden%>
  <%= f.hidden_field :recommend, value: params[:recommend] %>
  <div class="panel panel-primary">
    <div class="panel-heading">  <h3><%=  t 'who_are_you'%></h3> </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-7">
          <div class="col-md-1"><i> <%= image_tag 'email/new-post-24.png'%> </i></div>
          <div class="col-md-11">
            <%= f.input :email, label: false, placeholder: (t 'email')  %>
          </div>
        </div>
        <div class="col-md-5"></div>
      </div>
      <div class="row">
        <div class="col-md-7">
          <div class="col-md-1"><i> <%= image_tag 'skype/skype-24.png'%> </i></div>
          <div class="col-md-11">
            <%= f.input :facebook_or_skype, label: false, placeholder: (t 'facebook_or_skype') %>
          </div>
        </div>
        <div class="col-md-5"></div>
      </div>


    </div>
  </div>
  <div class="panel panel-primary">
    <div class="panel-heading"><h3><%= t 'which_account' %> </h3></div>
    <div class="panel-body">
      <div class="panel panel-primary none">
        <div class="panel-heading"><h4> <i> <%= image_tag 'xb_32x32.png'%> </i><i> <%= image_tag 'ps_32x32.png'%> </i><%= t 'login_data' %></h4></div>
        <div class="panel-body none">
          <%= t 'choose_console' %>
          <hr>
          <div class="row">
            <div class="col-md-7">
              <div class="col-md-1"></div>
              <div class="col-md-11">
                <%= f.input :console_type, label: false , collection: ['Xbox One', 'Xbox 360', 'PlayStation 4','PlayStation 3'], prompt: (t 'select_your_consolep')  %>
              </div>
            </div>
            <div class="col-md-5"></div>
          </div>

          <script>
            $(document).ready(function(){
              $('select[name="account[console_type]"]').on('change', function(){
                console.log($(this).val() )
                if ($(this).val() == 'Xbox One' || $(this).val() == 'Xbox 360'){
                  $('.phone').css('display', 'block');
                }
                else{
                  $('.phone').css('display', 'none');
                }
              })
            });
          </script>
          <div class="row">
            <div class="col-md-7">
              <div class="col-md-1"><i> <%= image_tag 'email/new-post-24.png'%> </i></div>
              <div class="col-md-11">
                <%= f.input :console_email, label:false, placeholder: (t 'console_email_adressp') %>
              </div>
            </div>
            <div class="col-md-5"></div>
          </div>
          <div class="row">
            <div class="col-md-7">
              <div class="col-md-1"><i> <%= image_tag 'klodka/lock-7-24.png'%> </i></div>
              <div class="col-md-11">
                <%= f.input :console_password, label:false, placeholder: (t 'console_passwordp') %>
              </div>
            </div>
            <div class="col-md-5"></div>
          </div>

          <div class="row phone" style="display: none;">
            <div class="col-md-7">
              <div class="col-md-1"><i> </i></div>
              <div class="col-md-11">
                <%= f.input :phone, label:false, placeholder: (t 'phone') %>
              </div>
            </div>
            <div class="col-md-5"></div>
          </div>


          <%= f.input :console_data, label: (t 'console_birthdayp'),
          :as => :date, :start_year => Date.today.year - 3,:end_year => 1900%>
          <i><%= t 'console_tip' %> </i>
        </div>
      </div>
  <div class="panel panel-primary none">
    <div class="panel-heading">  <h4>  <i> <%= image_tag 'ea_32x32.png'%> </i><%= t 'webApp_data' %> </h4> </div>
    <div class="panel-body none">
      <%= t 'give_webApp' %>
      <hr>
      <div class="row">
        <div class="col-md-7">
          <div class="col-md-1"><i> <%= image_tag 'email/new-post-24.png'%> </i></div>
          <div class="col-md-11">
            <%= f.input :web_email, label: false,placeholder: (t 'webapp_emailp') %>
          </div>
        </div>
        <div class="col-md-5"></div>
      </div>
      <div class="row">
        <div class="col-md-7">
          <div class="col-md-1"><i> <%= image_tag 'klodka/lock-7-24.png'%> </i></div>
          <div class="col-md-11">
            <%= f.input :web_password, label: false ,  placeholder: (t 'webapp_passwordp') %>
          </div>
        </div>
        <div class="col-md-5"></div>
      </div>
      <div class="row">
        <div class="col-md-7">
          <div class="col-md-1"><i> <%= image_tag 'klodka/lock-7-24.png'%> </i></div>
          <div class="col-md-11">
            <%= f.input :web_answer, label: false , placeholder: (t 'webapp_answerp') %>
          </div>
        </div>
        <div class="col-md-5"></div>
      </div>

    </div>
  </div>

  <div class="panel panel-primary none">
    <div class="panel-heading"><h4>  <i> <%= image_tag 'origin_32x32.png'%> </i> <%= t 'origin_security' %> </h4></div>
    <div class="panel-body none">
      <%= t 'origin_security_info' %>
      <hr>
      <div class="row">
        <div class="col-md-7">
          <div class="col-md-1"><i> <%= image_tag 'klodka/lock-7-24.png'%> </i></div>
          <div class="col-md-11">
            <%= f.input :origin_answer, label: false,  placeholder: (t 'origin_answerp')   %>
          </div>
        </div>
        <div class="col-md-5"></div>
      </div>
      <hr>
      <i> <%= t 'origin_tip'%><%= link_to ( t 'origin_tip_here'), "https://account.origin.com/cp-ui/security/index", target: "_blank"%><%= t 'origin_tip_next'%></i>
    </div>
  </div>
  <div class="panel panel-primary none">
    <div class="panel-heading"><h4> <i> <%= image_tag 'origin_32x32.png'%> </i> <%= t 'email_box' %></h4></div>
    <div class="panel-body none">
      <%= t 'email_box_info' %>
      <hr>
      <div class="row">
        <div class="col-md-7">
          <div class="col-md-1"><i> <%= image_tag 'email/new-post-24.png'%> </i></div>
          <div class="col-md-11">
            <%= f.input :origin_email, label: false, placeholder: (t 'email_adressp') %>
          </div>
        </div>
        <div class="col-md-5"></div>
      </div>
      <div class="row">
        <div class="col-md-7">
          <div class="col-md-1"><i> <%= image_tag 'klodka/lock-7-24.png'%> </i></div>
          <div class="col-md-11">
            <%= f.input :origin_password, label: false ,  placeholder: (t 'email_passwordp') %>
          </div>
        </div>
        <div class="col-md-5"></div>
      </div>

    </div>
  </div>
</div>
</div>
  <div class="panel panel-primary">
    <div class="panel-heading"><h3> <%= t 'choose_payment' %></h3></div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-7">
          <div class="col-md-1"></div>
          <div class="col-md-11">
            <%= f.input :payment_method, label: false , collection: ["PayPal","Skrill",'PaySafeCard', 'FUT 17 Coins'], prompt: (t 'payment_methodp') %>
          </div>
        </div>
        <div class="col-md-5"></div>
      </div>
      <div class="row">
        <div class="col-md-7">
          <div class="col-md-1"><i> <%= image_tag 'email/new-post-24.png'%> </i></div>
          <div class="col-md-11">
            <%= f.input :payment_email, label: false, placeholder: (t 'payment_emailp')  %>
          </div>
        </div>
        <div class="col-md-5"></div>
      </div>

      <div id="players"></div>
    </div>
  </div>

   <div class="g-recaptcha" data-sitekey="6LerqCcTAAAAAPNQJVfRCx-9FeqVPL_31VYqTllc"></div>
  <hr>
  <% if @account.confirmed == true %>
    <%= f.button :submit, class: 'btn btn-warning', value: 'To konto zostało już potwierdzone!', disabled: true %>
  <% elsif @config.work?  %>
    <%= f.button :submit, class: 'btn btn-success', value: (t 'send') %>
  <% else %>
    <%= f.button :submit, class: 'btn btn-warning', value: (t 'try_again_later'), disabled: true %>
  <% end %>
  <% end %>
</div>
</div>



<script>
  $(document).ready(function(){

    $('input[type="password"]').each(function(){
      $(this).attr('type', 'text');
    })

    var x = 0;

    function loadX(){
      var val = $('#account_console_type').val();
      switch(val){
        case 'Xbox One':
          x = parseInt("<%= AppConfiguration.first.x1_coins / 10000 %>");
          break;
        case 'Xbox 360':
          x = parseInt("<%= AppConfiguration.first.x3_coins / 10000 %>");;
          break;
        case 'PlayStation 4':
          x = parseInt("<%= AppConfiguration.first.ps4_coins / 10000 %>");
          break;
        case 'PlayStation 3':
          x = parseInt("<%= AppConfiguration.first.ps3_coins / 10000 %>");
      }
    }

    function loadPlayers(){
      $('#players').html('');
      if( $('#account_payment_method').val() == 'FUT 17 Coins'){
        $('#players').html('<p><strong> <%= t 'put_out' %> '+x+' <%= t 'brown_footballer_for_4400_and_buy_now_for_10000_below_write_their_surnames_and_overall'%>. </strong></p>');
        for( var i =0; i<x; i++){
          var input = '<input name="players['+ i +']" class="form-control" placeholder="Player">';
          var overall = '<select name="overalls['+ i +']" class="select form-control">';
          for(var j = 40; j<65; j++){
            overall+= '<option value="'+j+'"> '+j+'</option>';
          }
          overall+= '</select>';
          var div = '<div class="row"> <div class="col-md-6">'+input+'</div><div class="col-md-6">'+overall+'</div></div> <hr>';
          $('#players').append(''+div+'');
        }
      }
      else if( $('#account_payment_method').val() == 'PaySafeCard'){
        $('#players').html(' <p><strong> <%= t 'psc_key_will_be_send_on_your_email_adress' %> </strong></p>');
      }

    }

    $('#account_console_type').on('change', function(){
      loadX();
      loadPlayers();
      $('.captcha').html('<div class="g-recaptcha" data-sitekey="6LerqCcTAAAAAPNQJVfRCx-9FeqVPL_31VYqTllc"></div>');
    });

    $('#account_payment_method').on('change', function(){
        loadX();
        loadPlayers();
        $('.captcha').html('<div class="g-recaptcha" data-sitekey="6LerqCcTAAAAAPNQJVfRCx-9FeqVPL_31VYqTllc"></div>');
    });
    $('.captcha').html('<div class="g-recaptcha" data-sitekey="6LerqCcTAAAAAPNQJVfRCx-9FeqVPL_31VYqTllc"></div>');
  });
</script>
