<style>

*{
  color: black;
}

.alert-success{
  background-color: rgba(0,255,0,1);
}
.allert-info{
  background-color: rgba(0, 0, 255, 1);
}
.alert-danger{
  background-color: rgba(255, 0, 0, 1);
}
</style>

<div class="container alert alert-info">
  <div class="col-md-9">
    <div class="col-md-2"> <strong>Email: </strong></div>
    <div class="col-md-2"> <strong> WebApp email: </strong></div>
    <div class="col-md-2"> <strong> Płatność: </strong></div>
    <div class="col-md-2"> <strong> Sprawdzający: </strong></div>
    <div class="col-md-2"> <strong> Typ konsoli: </strong></div>
    <div class="col-md-2"> <strong> Zapłacone? </strong></div>
  </div>
  <div class="col-md-3"></div>
</div><hr>

<% @accounts.each do |account| %>
  <div class="container alert alert-<%= return_color(account.confirmed, account.failures)%>">
    <div class="col-md-9">
      <div class="col-md-2"> <strong><%= account.email %></strong></div>
      <div class="col-md-2"> <strong><%= account.web_email %></strong></div>
      <div class="col-md-2"> <strong><%= account.payment_method %></strong></div>
      <div class="col-md-2"> <strong> <%= account.user.email if account.user_id.present? %> </strong> </div>
      <div class="col-md-2"> <strong><%= account.console_type %></strong></div>
      <div class="col-md-2"> <strong><%= account.paid? ? 'Tak' : 'Nie' %></strong></div>
    </div>
    <div class="col-md-3">
      <div class="col-md-3"><%= link_to ' Pokaż', account_path(account.token), class:'btn btn-info'%></div>
      <% if current_user.role == 2 %>
        <div class="col-md-3"><%= link_to 'Usuń', account_path(account.token), method: :delete, class:'btn btn-danger', data:{confirm:'Napewno?'}%></div>
      <% end %>
      <div class="col-md-6"> <strong> <%= account.created_at.strftime("%d %b. %Y %H:%M") %></strong></div>
    </div>
  </div><hr>
<% end %>
