

<%= form_tag account_correction_path(@account.token), method: :put do %>
  <div class="row">
    <div class="col-md-4">
      <strong> Pole: </strong>
    </div>
    <div class="col-md-4">
      <strong> Wartość: </strong>
    </div>
    <div class="col-md-4">
      <strong> Zaznacz, jeżeli wymagana jest poprawa!</strong>
    </div>
  </div>
  <hr>
  <% @account.attributes.each_with_index do |name_value, index| %>
    <% break if index == 14 %>
    <div class="row">
      <div class="col-md-4">
        <%=  t name_value[0] %>
      </div>
      <div class="col-md-4">
        <%= name_value[1] %>
      </div>
      <div class="col-md-4">
        <%= check_box('account',name_value[0], {}, name_value[0]) %>
      </div>
    </div>
    <hr>
  <% end %>

  <% if @account.players.any? %>
  <div class="row">
    <div class="col-md-4">
      Zawodnicy:
    </div>
    <div class="col-md-4">

    </div>
    <div class="col-md-4">
      <%= check_box('account','players', {}, 'players') %>
    </div>
  </div>
  <% @account.players.each do |player| %>
    <div class="row">
      <div class="col-md-4">
      </div>
      <div class="col-md-4">
        <%= player.name %> <strong> <%= player.overall %> </strong>
      </div>
      <div class="col-md-4">

      </div>
    </div>
  <% end %>
  <hr>
  <% end %>


  <% if @account.confirmed == true %>
    <%= submit_tag 'To konto zostało już potwierdzone!' , class: 'btn btn-warning', disabled: true %>
  <% else %>
    <%= submit_tag (t 'send') , class: 'btn btn-success' %>
  <% end %>
<%end %>
