
<style>
*{
  color:black;
}

</style>
<div style="background-color: black;">
<% if current_user && @account.confirmed == true%>
  <h2 style="color: white;" id='newFields'> <%= @account.new_fields %> </h2>
<% end %>
</div>
<div style="background-color: black;">
  <% if @account.failures %>
      <h2 style="color: white;" id="showFailures"><%= @account.failures %> </h2>
  <% end %>
</div>

<script>

  $(document).ready(function(){
    if( $('#newFields').html()  ){
      $('#newFields').html(''+ $('#newFields').html().replace(/\|/g, '</br>') + '')
    }
    if( $('#showFailures').html()  ){
        $('#showFailures').html(''+ $('#showFailures').html().replace(/,/g, '</br>') + '')
    }
  });

</script>
<%= form_tag account_correction_path(@account.token), method: :put do %>
  <div class="row panel panel-info">
    <div class="col-md-3">
      <strong> Pole: </strong>
    </div>
    <div class="col-md-3">
      <strong> Wartość: </strong>
    </div>
    <div class="col-md-3">
      <strong> Zaznacz, jeżeli wymagana jest poprawa!</strong>
    </div>
    <div class="col-md-3">
      <strong> Zamieniono na:</strong>
    </div>
  </div>
  <%
    attributes =  @account.attributes
    keys = attributes.keys
    values = attributes.values
  %>


  <div class="panel panel-info" style="">
    <div class="panel-heading"><h4> Dane kontaktowe klienta</h4></div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-3">
              IP:
        </div>
        <div class="col-md-3">
            <%= @account.ip %>
        </div>
        <div class="col-md-3">
        </div>
      </div>
      <% [1,2].each do |num| %>
        <div class="row">
          <div class="col-md-3">
            <% if num == 1 %>
              email
            <% else %>
            <%= t keys[num]  %>
            <% end %>
          </div>
          <div class="col-md-3" data-clipboard-text="<%= values[num] %>">
            <%= values[num] %>
          </div>
          <div class="col-md-3">
            <%= check_box('account',keys[num], {}, keys[num]) %>
          </div>
        </div>
      <% end %>

    </div>
  </div>



  <div class="panel panel-info" style="">
    <div class="panel-heading"><h4>Profil konsolowy / gamertag </h4></div>
    <div class="panel-body">
      <%= link_to 'Strona: Xbox', 'https://account.live.com/password/Change', target: "_blank", class: 'btn btn-warning'  %>
      <%= link_to 'Strona: PlayStation', 'https://account.sonyentertainmentnetwork.com/liquid/cam/account/profile/view-security.action', target: "_blank", class: 'btn btn-warning'  %>
      <hr>
      <% [3,4,5,6].each do |num| %>
        <div class="row">
          <div class="col-md-3">
            <%= t keys[num] %>
          </div>
          <div class="col-md-3" data-clipboard-text="<%= values[num] %>">
            <%= values[num] %>
          </div>
          <div class="col-md-1">
            <%= check_box('account',keys[num], {}, keys[num]) %>
          </div>
          <div class="col-md-5">
            <%= hidden_field_tag( 'new_fields[]', "#{t keys[num]} ") if num == 4 || num == 5 %>
            <%= text_field_tag('new_fields[]', nil, class: 'form-control email-pass', placeholder: (t keys[num])) if num == 4 || num == 5  %>
          </div>
        </div>
      <% end %>
        <div class="row">
          <div class="col-md-3">
            Telefon
          </div>
          <div class="col-md-3" data-clipboard-text="<%= @account.phone %>">
            <%= @account.phone %>
          </div>
          <div class="col-md-1">
            <%= check_box('account','phone', {}, 'phone') %>
          </div>
        </div>

    </div>
  </div>

  <div class="panel panel-info" style="">
    <div class="panel-heading"><h4> Dostęp WebApp</h4></div>
    <div class="panel-body">
      <%= link_to 'Strona: WebApp', 'https://www.easports.com/fifa/ultimate-team/web-app', target: "_blank", class: 'btn btn-warning'  %>
      <hr>
      <% [7,8,9].each do |num| %>
        <div class="row">
          <div class="col-md-3">
            <%= t keys[num] %>
          </div>
          <div class="col-md-3" data-clipboard-text="<%= values[num] %>">
            <%= values[num] %>
          </div>
          <div class="col-md-1">
            <%= check_box('account',keys[num], {}, keys[num]) %>
          </div>
          <div class="col-md-5">
            <% unless num == 9 %>
              <%= hidden_field_tag 'new_fields[]', "#{t keys[num]} " %>
              <%= text_field_tag('new_fields[]', nil, class: 'form-control email-pass', placeholder: (t keys[num]))  %>
            <% else %>
              <%= hidden_field_tag 'new_fields[]', "#{t keys[num]} " %>
              <%= hidden_field_tag 'new_fields[]', "#{values[num]}" %>
            <% end %>
          </div>
        </div>
      <% end %>

    </div>
  </div>

  <div class="panel panel-info" style="">
    <div class="panel-heading"><h4> Dostęp Origin </h4></div>
    <div class="panel-body">
      <%= link_to 'Strona: Origin', 'https://account.origin.com/cp-ui/security/index', target: "_blank", class: 'btn btn-warning'  %>
      <hr>
        <div class="row">
          <div class="col-md-3">
            <%= t keys[10] %>
          </div>
          <div class="col-md-3" data-clipboard-text="<%= values[10] %>">
            <%= values[10] %>
          </div>
          <div class="col-md-1">
            <%= check_box('account',keys[10], {}, keys[10]) %>
          </div>
          <div class="col-md-5">
            <%= hidden_field_tag 'new_fields[]', "#{t keys[10]} " %>
            <%= text_field_tag('new_fields[]', nil, class: 'form-control', placeholder: (t keys[10]))  %>
          </div>
        </div>
    </div>
  </div>

  <div class="panel panel-info" style="">
    <div class="panel-heading"><h4> Konto email </h4></div>
    <div class="panel-body">
      <%= link_to 'Poczta',  'http://'+values[11].partition('@').last, target: "_blank", class: 'btn btn-warning' %>
      <hr>
      <div class="row">
        <div class="col-md-3">
          Skrzynka email
        </div>
        <div class="col-md-3" data-clipboard-text="<%= values[11] %>">
          <%= values[11] %>
        </div>
        <div class="col-md-1">
          <%= check_box('account',keys[11], {}, keys[11]) %>
        </div>
        <div class="col-md-5">
          <%= hidden_field_tag 'new_fields[]', "#{t keys[11]} " %>
          <%= text_field_tag('new_fields[]', nil, class: 'form-control email-pass', placeholder: (t keys[11]))  %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          Hasło do skrzynki email
        </div>
        <div class="col-md-3" data-clipboard-text="<%= values[12] %>">
          <%= values[12] %>
        </div>
        <div class="col-md-1">
          <%= check_box('account',keys[12], {}, keys[12]) %>
        </div>
        <div class="col-md-5">
          <%= hidden_field_tag 'new_fields[]', "#{t keys[12]} " %>
          <%= text_field_tag('new_fields[]', nil, class: 'form-control email-pass', placeholder: (t keys[12]))  %>
        </div>
      </div>
    </div>
  </div>


  <div class="panel panel-info">
    <div class="panel-heading"><h4> Inne </h4></div>
    <div class="panel-body">

      <div class="row">
        <div class="col-md-6">Rynek zablokowany</div>
        <div class="col-md-6">
          <%= check_box_tag 'market' %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">Inny błąd(wpisz)</div>
        <div class="col-md-6">
          <%= text_field_tag 'other_failure', nil, class: 'form-control' %>
        </div>
      </div>
    </div>
  </div>

  <div class="panel panel-info" style="">
    <div class="panel-heading"><h4> Płatność </h4></div>
    <div class="panel-body">
      <% [13,14].each do |num| %>
        <div class="row">
          <div class="col-md-3">
            <%= t keys[num] %>
          </div>
          <div class="col-md-3" data-clipboard-text="<%= values[num] %>">
            <%= values[num] %>
          </div>
          <div class="col-md-3">
            <%= check_box('account',keys[num], {}, keys[num]) %>
          </div>
          <div class="col-md-3">
            <% if num == 14 %>
              <div class="row">
                <div class="col-md-6">
                  <div id="getEmail" class="btn btn-success"> Pobierz email!</div>

                </div>
                <div class="col-md-6">
                  <a href="https://cl5.netmark.pl:2096/" class="btn btn-success" target="_blank"> WebMail </a>
                </div>
              </div>
              <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.5.13/clipboard.min.js"></script>
              <script>
                $(document).ready(function(){

                  var clipboard = new Clipboard('.col-md-3');
                  var acc_id = "<%=@account.id%>"
                  $('#paid').click(function(){
                    var bool = confirm('Czy na pewno?')
                    if (bool){
                      alert('Wysłano informację o przesłaniu środków.')
                      $.ajax({
                        type: "POST",
                        url: '/paid',
                        data: {id: acc_id},
                        success: function(){ }
                      });
                    }
                  })
                })
              </script>
            <% end %>
            <% if num == 13 %>
              <div id="paid" class='btn btn-success'> Prześlij informacje o zapłacie!</div>

              <script>
                $(document).ready(function(){
                  $('#getEmail').click(function(){
                    var bool = confirm('Czy napewno chcesz pobrać z bazy nowy email?');
                    if( bool ){
                      $.post('/get_email.json').done(function(data){
                        alert('email: ' + data.name + ' hasło: ' + data.password )
                        $('.email-pass').each(function(index) { (index % 2 == 0) ? $(this).val(data.name) : $(this).val(data.password) });
                      });
                    }
                  });
                });
              </script>
            <% end %>
          </div>
        </div>
      <% end %>

    </div>
  </div>


  <% if @account.players.any? %>
  <div class="panel panel-info" >
    <div class="panel-heading"><h4>Zawodnicy do wymiany</h4></div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-3">
          Zawodnicy:
        </div>
        <div class="col-md-3">

        </div>
        <div class="col-md-3">
          <%= check_box('account','players', {}, 'players') %>
        </div>
      </div>
      <% @account.players.each do |player| %>
        <div class="row">
          <div class="col-md-3">
          </div>
          <div class="col-md-3">
            <%= player.name %> <strong> <%= player.overall %> </strong>
          </div>
          <div class="col-md-3">

          </div>
        </div>
      <% end %>
    </div>
  </div>
  <% end %>






  <% if @account.confirmed == true %>
    <%= submit_tag 'To konto zostało już potwierdzone!' , class: 'btn btn-warning', disabled: true %>
  <% else %>
    <%= submit_tag (t 'send') , class: 'btn btn-success' %>
  <% end %>
<%end %>
